<section class="header__content content">
    <div class="header__title">We teach you. We fund you</div>
    <div class="header__subtitle">You keep most of the profits</div>
    <div class="header__about">
      <div class="header__about-educated">We have educated more than</div>
      <div class="header__about-traders">16,000 traders worldwide</div>
      <div class="header__about-accounts">
        since 2004 & completely funded their trading accounts. You can be next
      </div>
    </div>
    <div class="header__info"></div>
</section>
